@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #FFFDD0;
    color: #5D4037;
    font-family: "Roboto";
    font-size: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
   
}
 
 nav {
    display: flex;
    justify-content:end;
    align-items: center;
    position: fixed;    
    top: 0;
    z-index: 1000;
    right: 0;
    left: 0;
    background: rgba(15, 12, 12, 0.514) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) ;
    border-bottom: 2px solid transparent  rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    transition: background-color 0.3s ease;
  
    
}

.scrolled {
    background-color: #000; 
}   

.links nav .logo img {
   
    width: 80px;
    cursor: pointer;
    margin-right: 500px;
   
    
    
      
    
}

.links {
    
    width: 100% ;
    height: 100vh;
    background-image: url(../Images/sigiriya.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


section nav ul {
    list-style: none;
   
}

section nav ul li {
    display: inline-block;
    margin: 15px; 
    font-family: 'Poppins', sans-serif;
    
  
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    transition: 0.1s;
    padding: 10px 15px;
  
    
    
   
}


section nav ul li a::after {
    content: "";
    width: 100%; 
    height: 2px;
    background: gold;
    transition: 0.2s linear;
  
}

li a:hover::after {
    width: 100%;
}

li a:hover, .mobile ul li:hover {
    color: gold;
}

.icons {
    font-size: 17px;
    color: white;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

.icons i:hover {
    color: gold;
}
 



.savor-our-dishes h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFd700;
    font-family: "Cormorant Garamond", serif;
    padding: 10px;
    font-size: 5.5rem;
    padding-top: 100px;
    text-shadow: 2px 2px 2px #000;
    z-index: 2;

}

.food-heading {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

.menu {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 20px 40px;
}

.food-heading h3 {
    background-color: #000;
    color: white;
    margin-bottom: 30px;
    padding: 30px 0 ;
    grid-column: 1/-1;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
}


.food-items {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: .2s ease-in-out;
    background-color: white;
}

.food-items img {
    position: relative;
    cursor: pointer;   
}

.food-items img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.food-items img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.food-items {
    width: 30%;
    margin: 1%;
    padding: 15px;
}



.details-sub h5 {
    color: #000;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    
} 

.details p {
    color: #800000;
    font-family: 'Josefin Sans', serif;
}

.food-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.details button {
    background: linear-gradient(90deg, #FFA500, #FFD700);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    padding: 10px 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
   display: flex;
}

.details button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.details button:focus {
    outline: none;
}

.food-menu img:nth-child(5) {
   width: 100%;
   max-width: 200px;
    object-fit: cover;
}

footer {
    
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
    z-index: 100;
    font-size: 1rem;
    font-family: 'Poppins', serif;
}


.bottom {
    
    margin-bottom: 39px; 
    display: grid;
    align-items: center;
    justify-content: center;
    background: #000;
}

.bottom a {
    color: #FFA500;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding-left: 0%;
    text-decoration: none;
}

.email {
    color: #fff;
    font-size: 25px;
    font-family: 'cinzel', serif;
    padding-left: 50px;
}



.whtsapp {
    padding-left: 70px;
    color: #fff;
    font-family: 'cinzel', serif;
    font-size: 25px;
}



.open-time {
    margin: 0 40px;
    margin-top: 20px;
    border-top: 2px solid rgba(255, 255, 255, .1);
    padding: 25px 0;
    color: #fff;
    font-family: 'cinzel', serif;
    font-size: 2rem;
}

.open-time .p1 {
    font-size: 1rem;
    padding-left: 30px;
    padding-top: 5px;
}

.social-links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    size: 100px;
}

.social-links a:hover {
    color: #fff;
}

.social-icons {
    font-size: 1.5rem;
    border-left: 2px solid #fff; 
    border-right: 2px solid #fff;
    padding: 0 10px;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
   margin-right: 300px;
}